.container {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  height: 100vh;
}

.left-side {
  background-image: url("../../assets/Side.svg");
  flex: 0 0 35%;
  background-repeat: no-repeat;
  /* background-position: center; */
  /* background-color: lightblue; */
  padding: 20px;
  box-sizing: border-box;
  display: block;
}

/* steps */
.steps {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
li,
.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #2eb796;
  border-radius: 50%;
  stroke-width: 1px;
  color: #2eb796;
}
.span {
  color: var(--main-blue, #0c3397);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

.right-side {
  flex: 0 0 65%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
.page-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  gap: 5px;
}

.page-1::-webkit-scrollbar {
  display: none;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.text {
  color: #040c21;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Graphik;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

.personal-information {
  color: var(--main-blue, #0c3397);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
  padding: 8px 17px 10px 16px;
}

.line {
  height: 0.2px;
  background: #0c3397;
}

.label {
  color: var(--secondary-text, #091c33);
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

.text-2 {
  color: var(--secondary-text, #555b63);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2px;
}
/* 
.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
} */

.form-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px 0px;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.continue {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in {
  cursor: pointer;
  color: var(--main-blue, #0c3397);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.2px;
}

.typo {
  color: var(--secondary-text, #091c33);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
  letter-spacing: 0.2px;
}

/* image upload */
.img-upload {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}

.avatar-box {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border: 1px dotted #2eb796;
  border-radius: 50%;
  padding: 50px;
  fill: #fff;
  stroke-width: 1px;
  stroke: #2eb796;
}

.img-button {
  display: flex;
  width: 228px;
  height: 56px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid rgba(12, 51, 151, 0.4);
  background: #f0f4ff;
  margin: 5px 0px;
}

@media (max-width: 767px) {
  .left-side {
    display: none;
  }
  .right-side {
    flex: 0 0 100%;
  }
}

@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
  }
}
.form-group-single {
  grid-column: 1 / -1;
}
