* {
    box-sizing: border-box;
}

.heading {
    display: flex;
    justify-content: space-between;
}
.searchbar {
    border: 1px solid #002E6E;
}

.heading h2 {
    color: #181819;
    font-size: 24px;
}